<div class="container">
  {{#each trees}}
  <div class="treeList">
    <a href="/trees/view/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
     <h3>{{name}}</h3>
  </div>
 
  {{/each}}
</div>
