<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tree-pedia</title>
  <link href="" rel="stylesheet">
  <link href="link href=" https://fonts.googleapis.com/css?family=Maitree&display=swap" rel="stylesheet"" rel="
    stylesheet">
  {{!-- <link rel="stylesheet" href="/public/bootstrap.css"> --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <div class="app">
    <div class="stripe">
      <h1 class="title">Tree-pedia</h1>
    </div>
    <a class="nav" href="/">Home</a>
    <a href="./partials/add">Add Tree</a>
    {{{body}}}
  </div>
</body>

</html>